<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegistrationServlet</servlet-name>
        <servlet-class>edu.jsu.mcis.lab6.RegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AttendeeServlet</servlet-name>
        <servlet-class>edu.jsu.mcis.lab6.AttendeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SessionServlet</servlet-name>
        <servlet-class>edu.jsu.mcis.lab6.SessionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrationServlet</servlet-name>
        <url-pattern>/registrations</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AttendeeServlet</servlet-name>
        <url-pattern>/AttendeeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SessionServlet</servlet-name>
        <url-pattern>/SessionServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>main/index.jsp</welcome-file>
    </welcome-file-list>
    <security-constraint>
        <display-name>Main</display-name>
        <web-resource-collection>
            <web-resource-name>Main</web-resource-name>
            <description/>
            <url-pattern>/main/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>Default Constraint</description>
            <role-name>user</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/login.jsp</form-login-page>
            <form-error-page>/login.jsp?result=false</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description/>
        <role-name>user</role-name>
    </security-role>
</web-app>
